body {
  background-color: #FEFFF0;
  font-family: 'Arial Black', Gadget, sans-serif;
  margin: 0;
  color: #111;
  padding: 10px;
}

header {
  background-color: #f0b5d3; /* Soft pink background */
  height: 100%;
  border-radius: 10px;
}

header::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;  /* Adjust thickness */
  background-color: black;  /* Black line */
  position: relative;
  border-radius: 10px;

}

nav ul {
  font-family: 'Dancing Script', cursive;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 70px;
  padding-top: 25px;
  
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 29px;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
  top: 90px;
}

nav ul li a:hover {
  background-color: #FEFFF0; /* Darker pink for hover effect */
}

.arrow {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 63%;
  top: 23%;
  transform: rotate(1.63deg);
}

.smile {
  position: absolute;
  width: 31.95px;
  height: 29.27px;
  left: 58%;
  top: 28%;
  transform: rotate(8.96deg);
}

.annu {
  position: absolute;
  width: 100px;
  height: 37px;
  left: 60%;
  top: 25%;
  font-family: 'Dancing Script', cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 37px;
  color: #000000;
  text-shadow: 0px 4px 0px rgba(231, 231, 231, 0.32);
  transform: rotate(-23.4deg);
}

.boxsmile {
  margin-left: 70%;
  margin-top: 10%;
  width: 30%;
}

.left-intro {

  bottom: 5%;
  position: absolute;
  font-family: 'Dancing Script', cursive;
  font-size: 29px;
  font-weight: 700;


}

.image-slider {
  width: 52%;
  margin-left: 30px auto;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  display: flex;
  border-radius: 15px;
  background-color: #f7c0d7;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  bottom: 40px;
  position: relative;
}

.image-track {
  display: flex;
  gap: 20px;
  scroll-snap-align: start;
  padding: 20px;
}

.image-track img {
  width: 200px;
  height: auto;
  scroll-snap-align: start;
  border-radius: 15px;
  box-shadow: 0 5px 12px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
}

.image-track img:hover {
  transform: scale(1.05);
}

.about-section {
  background-color: #fff0f7;
  padding: 60px 40px;
  font-family: 'Dancing Script', cursive;
  border-radius: 20px;
  width: 80%;
  margin: 60px auto;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  color: #333;
  font-weight: 700;
  height: 100%;
}

.about-section h1 {
  color: #e75480;
  margin-bottom: 20px;
  text-align: center;
  font-size: xx-large;
}

.about-section p {
  font-size: 29px;
  line-height: 1.7;
  margin-bottom: 20px;
  text-align: center;
}

.experience-section {
  background-color: #000000; /* Soft pink background */
  padding: 60px 40px;
  font-family: 'Dancing Script', cursive; /* Aesthetic font */
  border-radius: 20px; /* Rounded corners */
  width: 80%;
  margin: 60px auto; /* Centering the section */
  box-shadow: 0 4px 20px rgba(0,0,0,0.08); /* Soft shadow */
  color: #ffffff; /* Dark text color for readability */
  font-weight: 700; /* Bold text */
  height: 40%;
}

.experience-content {
  font-size: 29px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.headingone {
  color: #f7c0d7;
}

.me {

  width: 350px;
  margin-left: 50%;
  position: absolute;
  border-radius: 10px;
  top: 272%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.me:hover{
  transform: scale(1.1);
}

.steyp-icon {
  width: 100px;
  height: 100px;
  margin: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 50px;
}

.steyp-icon:hover {
  transform: scale(1.1);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  overflow: hidden;
  height: 3rem;
  background-size: 300% 300%;
  cursor: pointer;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),
    linear-gradient(
      137.48deg,
      #ffdb3b 10%,
      #fe53bb 45%,
      #8f51ea 67%,
      #0044ff 87%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-family: "Avalors Personal Use";
  font-size: 12px;
  letter-spacing: 5px;
  color: #ffffff;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  border: double 4px #fe53bb;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn:active .circle {
  background: #fe53bb;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.skills {
  color: #333;
  background-color: rgb(196, 239, 245);
  padding: 60px 40px;
  font-family: 'Dancing Script', cursive; /* Aesthetic font */
  border-radius: 20px; /* Rounded corners */
  width: 80%;
  margin: 60px auto; /* Centering the section */
  box-shadow: 0 4px 20px rgba(0,0,0,0.08); /* Soft shadow */
  font-weight: 700; /* Bold text */
  height: 40%;
  
}

.skills h2 {
  text-align: center;
  font-size: 32px;
  color: #f8a1d1; /* pink accent */
  margin-bottom: 15px;
}

.skills h3 {
  font-size: 31px;
  color: #ff72b1; /* soft pink */
  margin-bottom: 8px;
}

.skills p {
  font-size: 29px;
  color: #555;
  margin-top: 5px;
}

.skills ul {
  list-style-type: none;
  padding-left: 0;
}

.skills ul li {
  font-size: 29px;
  color: #555;
  margin-top: 5px;
}

p {
  font-size: 20px;
}

#contact {
  background-color: #f0b5d3; /* Soft pink background */
  padding: 50px 20px;
  text-align: center;
  background-size: cover;
  background-position: center;
  border-radius: 20px ;
  height: 40%;
  width: 80%;
  margin: 60px auto; /* Centering the section */
}

.contact-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  border-radius: 10px;
}

.contact-info h2 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #333;
}

.contact-info p {
  font-family: 'Dancing Script', cursive;
  font-size: 18px;
  color: #333;
}

.contact-links {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.contact-links li {
  margin: 10px 0;
}

.contact-links a {
  font-size: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 700;
  transition: color 0.3s;
}

.contact-links a:hover {
  color: #7094c4; /* Light pink hover effect */
}

form {
  margin-top: 30px;
}

form label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: #333;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}

form button {
  padding: 12px 30px;
  font-size: 18px;
  color: white;
  background-color: #f56a79;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #f5c0c9;
}

footer {
  background: #e9b2cd;
  color: white;
  text-align: center;
  padding: 20px 0;
}
